{% extends "base.html.twig" %}
{% block title 'Mon agence immobilière' %}

{% block body %}
    <div class="jumbotron mt-4">
        <div class="container text-center">
            <h1  >Mon agence immobilière</h1>
            <p class="text-justify"> Idéalement située aux portes du centre-ville de Bordeaux et proche de la Gare St-Jean, la résidence l'Althéa vous offre un cadre de vie privilégié face au parc de Brascassat. Dans ce quartier en plein renouveau, vous disposez d'un large choix pour votre futur logement, 2 pièces pour les primo-accédants ou appartements familiaux du 3 au 5 pièces plus spacieux.La vie quotidienne y est facile, entre les transports, plusieurs pôles économiques et tous les commerces à proximité immédiate   </p>
        </div>
    </div>
    
     
{% endblock %}

 
    
 
