{% extends "base.html.twig" %}
{% block  title 'Tous nos bien' %}
{% block body %}
    <div class="jumbotron">
        <div class="container text-center m-4">
        <h1>Voir tous nos biens</h1>
        <p>Dans cette partie vous découvrirez nos différents biens disponible</p>
    </div>
    </div>
{% endblock %}
